table{
    height: 150px;
    width: 600px;
}

table,td{
    border: solid none;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background:#bf0b30;
}
tr:nth-child(even){
    background: white; ;
}

*{
    margin: 40px;
}
.Stars{
    background: #002768;
    width: 150px;
    height: 450px;
}
p{
    color: #fffeff;
    font-size: 33px;
}