h1{
    border: 1px solid black;
    width: 400px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px green,
                -10px -10px 10px blue;

     box-shadow: inset 10px 10px 10px green,
                inset -10px -10px 10px blue;

}
p{
    border: 1px solid black;
    margin: 30px auto;
    margin-top: 100px;
    padding: 20px;
    width: 500px;
    height: 200px;
    overflow: scroll;
    text-align: justify;
    border-radius: 30px;
}
div{
    
    border: 1px solid blue;
    

}
li{
    /* display: inline; */
    list-style-type: disc;
}

#test{
    visibility: hidden;
    display: none;
}
#position{

    list-style-position: inside;
}

