h1{
    border: 5px dashed black;
  /*  border-top-width:10px;
    border-right-width:8px;
    border-bottom-width:5px;
    border-left-width:3px;  */
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;


    box-shadow: inset 10px 10px 10px green,
                inset -10px -10px 10px blue;


}

h2{
    border: 5px dotted black;
   /* border-top-width:10px;
    border-right-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;  */
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 80px auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;

    box-shadow: inset 10px 10px 10px green,
                inset -10px -10px 10px blue;


}
h3{
    border: 5px double black;
   /* border-top-width:10px;
    border-right-width:10px;
    border-bottom-width:10px;
    border-left-width:10px; */
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 30px auto; 
    border-radius: 10px;
    box-shadow: 10px 10px 10px green,
               -10px -10px 5px red;

}
h4{
    border: 5px solid black;
   /* border-top-width:10px;
    border-right-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;  */
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;

    box-shadow: 10px 10px 10px violet,
    -10px -10px 5px blue;

}
p{
    border: 1px solid black;
    margin: 70px auto;
    padding: 20px;
    width: 500px;
    height: 200px;
    overflow: scroll;
    text-align: justify;
    border-radius: 30px;

    
}

