body{
    background-color: none;
    /* background-image: url(/home/devaraj/Downloads/black-1072366_960_720.jpg);
} */



table{
    margin:auto;
    box-shadow:0 0 5px 5px;
 width: 560px;
    height: 560px;
    border: 8px solid black;
    border: 10px dash gray; 
}

td{ 
    text-align: center;
    width: 4rem;
    height: 4rem;

}
tr:nth-child(odd)   td:nth-child(odd),
tr:nth-child(even)   td:nth-child(even)
{
    background-color: black;
}
.black{
    color: white;
}

.sat{
    color:red;
    font-size: 3rem;

} 
.gat{
    color:blue;
    font-size: 3rem;
}