
   
   

table{
    margin:auto;
    box-shadow:0 0 3px 3px;
}

td{ 
    text-align: center;
    width: 4rem;
    height: 4rem;

}
tr:nth-child(odd)   td:nth-child(odd),
tr:nth-child(even)   td:nth-child(even)
{
    background-color: black;
}
.black{
    color: white;
}

/* .sat{
    color:green;
    font-size: 3rem;

} */
