body{
    background-color: azure;
    background-image: url(/home/devaraj/Downloads/space-911785_640.webp);
   background-size: cover;
    
    

    border: 10px black;
    margin: center;
    padding: 180px;
}
form{
    margin: auto;
    width:300px;
    box-shadow: 10px 10px 10px black;
}

.top{
    height: 60px;
    width: 300px;
    margin:auto;
    background-color: orange;
}

.middle{
    height: 60px;
    width: 300px;
    margin: auto;
    background-color: white;
}

.bottom{
    height: 60px;
    width: 300px;
    margin:auto;
    background-color: green;
}
img{
    padding-left: 125px;
    margin: center;
    height: 60px;
    width: 60px;
}