.box1{
    width: 300px;             
    height: 300px;
    background-color: brown;
    margin-top: 100px;
}
.box2{

    width: 150px;
    height: 150px;
    background-color:yellow;
    position:sticky ;
    top: 0px;
    left:0px;

}


#p1{
    background-color: rgb(156,227,138);
}

#p2{
    background-color:  rgb(102, 19, 128);
}
#p3{
    background-color: rgb(43, 133, 21);
}
@media(min-width:700px) {
    div p{
        width: 25%;
        float: left;
        padding: 10px;
        margin: 10px;
    
    }
    
}
@media (min-width:1000px) {
    div p{
        width: 29%;
        float: left;
        padding: 10px;
        margin: 10px;
    
    }
    
}
@media print {
    body{
        background-color: chocolate;
    }
    
}
    
